.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.editable-row-operations a {
  margin-right: 8px;
}

.App-icon { 
  cursor: pointer;
  font-size: 16; 
  color: #08c;
  margin-right: 8px;
}

.App-component {
  margin: 8px;
}

.green-button {
  background-color: #3da62a;
  border-color: #3da62a;
}

.green-button:hover {
  background-color: #5ab34a;
  border-color: #5ab34a;
}